{% extends 'base.html' %}

{% block content %}

     
    <div class="container">
        <h4>Profitable growth</h4>
        <div class="row" style="padding-top: 15px;">
        <div class="column">
            <h6>Free Cash Flow</h6>
            <div>
            <p style="font-size: xx-large; text-align: center ; color: #22594C;">
                <!-- {{ free_cash_flow }} -->
                {{ '{:,.1f}'.format(free_cash_flow)}}
            </p>
            </div>
        </div>
        <div class="column">
            <h6>External Revenue</h6>
            <div>
            <p style="font-size: xx-large; text-align: center ; color: #22594C;">
                {{ "{:,.1f}".format(external_revenue) }}
            </p>
            </div>
        </div>
        <div class="column">
            <h6>Contribution Margin 3</h6>
            <div>
            <p style="font-size: xx-large; text-align: center ; color: #22594C;">
                {{ "{:,.1f}".format(contribution_margin_3) }}
            </p>
            </div>
        </div>
        </div>
    </div>

    <h1>Hello World!</h1>

    <iframe
    src="{{iframeUrl}}"
        frameborder="0"
        width="400"
        height="200" 
        allowtransparency
    ></iframe>

    <p>This is my first page!</p>
    <p>Isn't thas cool</p>

    <p>My name is {{ first_name }} </p>

    <p> {{ stuff|safe }} </p>

    <div>
        <canvas id="lineChart" width="700" height="400" style="background-color: #fff;"></canvas>
        <!-- <canvas id="myChart"></canvas> -->
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <script> 
        var ctx = document.getElementById('lineChart');
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ labels | safe }},
                datasets: [{
                    label: 'Data points',
                    borderColor: 'rgb(255, 99, 132)',
                    backgroundColor: 'rgb(255, 99, 132)',
                    data: {{ values | safe }},
                    // fill: false
                    tension: 0.2
                }]
            },
            options: {
                responsive: false
            }
        })
    </script>

    <script>
        const labels = [
          'January',
          'February',
          'March',
          'April',
          'May',
          'June',
        ];
      
        const data = {
          labels: labels,
          datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [0, 10, 5, 2, 20, 30, 45],
          }]
        };
      
        const config = {
          type: 'line',
          data: data,
          options: {}
        };
    </script>

    <script>
        const myChart = new Chart(
        document.getElementById('myChart'),
        config
        );
    </script>



{% endblock %}